APP_NAME=Chatter
APP_ENV=development
SECRET_KEY=generate_your_own_secure_key

# PostgreSQL Connection 
# Syntax: postgresql+asyncpg://[user]:[password]@[host]:[port]/[db_name]
DATABASE_URL=postgresql+asyncpg://chatter:chatter_pass@postgres:5432/chatter
SYNC_DATABASE_URL=postgresql://chatter:chatter_pass@postgres:5432/chatter

# Redis Connection (Broker + Cache)
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2

FRONTEND_URL=http://localhost:5173

# SMTP Settings for sending OTPs
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=your_email@gmail.com
# SMTP_PASSWORD=your_app_password
# EMAIL_FROM=noreply@chatter.app
